<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>show upload</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">
		<h1>顯示上傳</h1>
		
		<div
				th:text="${session.loginUser} ? 'HI 安安' + ${session.loginUser.username}"></div>
			<div
				th:text="${session.loginUser} ? '你的ID:' + ${session.loginUser.id}"></div>
			<div th:text="${loginFail} ? ${loginFail}"></div>
		
		
		<th:block th:each="product : ${list}">
			<div class="card">
				<div class="card-header">
					-----------
				</div>
				<div class="card-body">
				<!-- 
					<span th:text="${product.productid}"></span>
				 -->
					<br>
					<span th:text="${product.sellermemberid.id}"></span>
					<br>
					<span th:text="${product.productname}"></span>
					<br>
					<span th:text="${product.price}"></span>
					<br>
					<span th:text="${product.specialprice}"></span>
					<br>
					<span th:text="${product.categoryid.id}"></span>
					<br>
					<span th:text="${product.quantity}"></span>
					<br>
					<span th:text="${product.description}"></span>
					
			
				
				</div>					
			</div>
			</div>

		</th:block>
		

		




</body>
</html>