<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>註冊會員</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>
	<div class="container">
	<h1>會員註冊</h1>
	<div class="card">
		<div class="card-header">會員註冊</div>
		<br>
		<div class="card-body">
			<form th:action="@{/member/post}" method="post">

				<div class="input-group">
					<label for="membertypeid" class="form-label">membertypeid</label> <input
						class="form-control" name="membertypeid" id="membertypeid" required />
				</div>
				<br>
				<div class="input-group">
					<label for="memberimgpath" class="form-label">memberimgpath</label> <input
						class="form-control" name="memberimgpath" id="memberimgpath" required />
				</div>
				<br>
				<div class="input-group">
					<label for="username" class="form-label">帳號</label> <input
						class="form-control" name="username" id="username" required />
				</div>
				<br>
				<div class="input-group">
					<label for="firstname" class="form-label">firstname</label> <input
						class="form-control" name="firstname" id="firstname" required />
				</div>
				<br>
				<div class="input-group">
					<label for="lastname" class="form-label">lastname</label> <input
						class="form-control" name="lastname" id="lastname" required />
				</div>
				<br>
				<div class="input-group">
					<label for="gender" class="form-label">gender</label> <input
						class="form-control" name="gender" id="gender" required />
				</div>
				<br>
				<div class="input-group">
					<label for="passwdbcrypt" class="form-label">密碼</label> <input
						class="form-control" name="passwdbcrypt" id="passwdbcrypt" type="password"
						required />
				</div>
				<br>
				<div class="input-group">
					<label for="birthdate" class="form-label">birthdate</label> <input
						class="form-control" name="birthdate" id="birthdate" required />
				</div>
				<br>
				<div class="input-group">
					<label for="phone" class="form-label">phone</label> <input
						class="form-control" name="phone" id="phone" required />
				</div>
				<br>
				<div class="input-group">
					<label for="email" class="form-label">email</label> <input
						class="form-control" name="email" id="email" required />
				</div>
				<br>
				<div class="input-group">
					<label for="membercreationdate" class="form-label">membercreationdate</label> <input
						class="form-control" name="membercreationdate" id="membercreationdate" required />
				</div>
				<br>
				<div class="input-group">
					<label for="country" class="form-label">country</label> <input
						class="form-control" name="country" id="country" required />
				</div>
				<br>
				<div class="input-group">
					<label for="city" class="form-label">city</label> <input
						class="form-control" name="city" id="city" required />
				</div>
				<br>
				<div class="input-group">
					<label for="region" class="form-label">region</label> <input
						class="form-control" name="region" id="region" required />
				</div>
				<br>
				<div class="input-group">
					<label for="street" class="form-label">street</label> <input
						class="form-control" name="street" id="street" required />
				</div>
				<br>
				<div class="input-group">
					<label for="postalcode" class="form-label">postalcode</label> <input
						class="form-control" name="postalcode" id="postalcode" required />
				</div>
				<br>
				<button class="btn btn-outline-primary">送出</button>
			</form>
		</div>
	</div>

<div th:text="${errorMsg} ? ${errorMsg}"></div>
<div th:text="${okMsg} ? ${okMsg}"></div>
</div>

</body>
</html>