<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>購物車</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>
	<div class="container">
  <h1>購物車</h1>

<!-- 顯示購物車內容 -->
<table>
    <tr>
        <th>商品名稱</th>
        <th>價格</th>
        <th>數量</th>
    </tr>
   <tr th:each="ShoppingCart : ${ShoppingCart}"> 
        <td th:if="${ShoppingCart != null}"  th:text="${ShoppingCart.name}"></td>
        <td th:if="${ShoppingCart != null}"  th:text="${ShoppingCart.price}"></td>
        <td th:if="${ShoppingCart != null}"  th:text="${ShoppingCart.quantity}"></td>
    </tr>
</table>

<!-- 顯示購物車總價 -->
<p th:if="${ShoppingCart != null}"  th:text="${ShoppingCart.totalPrice}"></p>

<!-- 添加商品到購物車的表單 -->

<!-- 更新購物車的表單 -->
<form th:action="@{/ShoppingCart/update}">
    <!-- 這裡放置更新購物車的輸入字段 -->
    <button type="submit">更新購物車</button>
</form>

<!-- 移除商品 -->
<form >
    <button type="submit">移除商品</button>
</form>

<!-- 清空購物車 -->
<form th:action="@{/ShoppingCart/clear}">
    <button type="submit">清空購物車</button>
</form>
</div>
</body>
</html>
