<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>購物車</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>
	<div class="container">
  <h1>購物車</h1>

<!-- 顯示購物車內容 -->
<form method="Post" th:action="@{addProduct}">
<table>
    <tr>
        <th>商品id</th>
        <th>名稱</th>
        <th>價格</th>
    </tr>
			<!--<tr th:each="list:${products}">
				<td th:text="${list.value.products.id}"></td>
				<td th:text="${list.value.products.productname}"></td>
				<td th:text="${list.value.products.price}"></td>
				<td align="center">
					<a href="${pageContext.request.contextPath }/ShoppingCart/addProduct/${products.id}">Buy Now</a>
				</td>
			</tr>  -->
			<tr>
            <td><input type="text" name="id"></td>
            <td><input type="text" name="name"></td>
            <td><input type="number" name="price" /></td>
            <td align="center">
					<input type="submit" value="buy"/>
				</td>
        </tr>

</table>
</form>


   
</div>
</body>

</html>

